body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	width: 1280px;
	height: 650px;
	margin-left: 20px;
	margin-right: 20px;
}
 
.menu {
 text-align: center;	
 margin-top: 20px;
 margin-bottom: 20px;
 }
.menu-a {
	color: #16a085;
	text-decoration: none;
	text-transform: uppercase; 
	font-size: 18px;
	font-weight: 900;
	margin-left: 20px;
	margin-right: 20px;
}
.text1 {
  text-align: center;
  color:  #373737;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}
.text2 {
	text-indent: 20px;
}

.blok {
	background-color: #16a085;
	 border-radius: 20px;
    display: block;
    width: 254px;
    padding: 20px 0;
    margin: 0 auto;
  }
  .blok-text {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

 .end1 {
  text-align: right;
  padding-top: 80px;
  padding-bottom: 20px;
  color:  #373737;
  font-size: 16px;
  font-weight: 900;
 }
 